.container {
    background-image: url('https://previews.123rf.com/images/krekdm/krekdm1607/krekdm160700298/61898028-modelo-incons%C3%BAtil-de-los-alimentos-se-puede-utilizar-para-fondos-de-escritorio-fondo-de-p%C3%A1gina-web-p.jpg');
width: 100%;
height: 100vh;
background-repeat: no-repeat;
}

